<!DOCTYPE html>

<head>

</head>

<body style="text-align: center;">
  <h1>{{.Title}}</h1>
  <p>{{.Subtitle}}</p>
  <p>{{.Email}}</p>
  <br/>
  <a href="/logout" onclick="return confirm('Are you sure you want to logout?');">Logout User</a>
</body>

</html>